<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Input</strong>&nbsp;Recycling Symbols</span></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/material_recycling_symbols/">Management Recycling Symbols</a></li>
        <li class="active">Input</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header header-line">
          <!-- Notifikasi -->
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="col-md-12">

              <!-- Start form -->
              <form role="form" action="/material_recycling_symbols/submit_insert" method="POST" enctype="multipart/form-data">
                
                <div class="form-group">
                  <label>Recycling Symbols Name </label>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" class="form-control" name="symbol_name" id="">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Description </label>
                  <div class="row">
                    <div class="col-md-8">
                      <textarea class="form-control" rows="5" name="deskripsi" id=""></textarea>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Properties </label>
                  <div class="row">
                    <div class="col-md-8">
                      <textarea class="form-control" rows="5" name="properties" id=""></textarea>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Packaging Applications </label>
                  <div class="row">
                    <div class="col-md-8">
                      <textarea class="form-control" rows="5" name="packaging" id=""></textarea>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Recycling Simbols Image</label>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="file" name="foto" id="">
                     
                    </div>
                  </div>
                </div>

              <button type="submit" class="btn btn-primary btn-embossed">Submit</button>
            </form>
            <!-- End form -->
              
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2016 </span>
        <span>PT Emory Langgengjaya</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
