<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Edit</strong>&nbsp;Slideshow Two ( Home )</h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/home_slideshow_two">Management Slideshow Two </a></li>
        <li class="active">Edit</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header header-line">
          <!-- Notifikasi -->
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="col-md-12">

              <!-- Start form -->
              <form role="form" action="/home_slideshow_two/submit_edit" method="POST" enctype="multipart/form-data">
                <input type="hidden" class="form-control" id="" name="id" value="<%= data[0]['id'] %>">
                <div class="form-group">
                  <label>Upload Image Slideshow</label>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="file" name="foto" id="">
                      <%if(data[0]['foto']!="") { %><img style="height:100px;widht:100" src="/foto/<%= data[0]['foto'] %>"><% } %>
                      <p class="text-muted"><i>Upload image dengan ukuran lebar : 900px & tinggi : 505px</i></p>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-embossed">Update</button>
              </form>
              <!-- End start form -->

            </div>
          </div>         
        </div>
      </div>
    </div>  
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2016 </span>
        <span>PT Emory Langgengjaya</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>