<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Help</strong>&nbsp;Form Elements</span></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/">Dashboard</a></li>
        <li class="active">Form Elements</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header header-line">
          <h4>Input Field</h4>
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="col-md-12">
              <!-- Start -->
              <div class="form-group">
                <label>Input Type Text</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" name="" id="">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Input Type Password</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="password" class="form-control" name="" id="">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Input with date picker</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" name="" id="date">
                  </div>
                </div>
              </div>
              <!-- End -->
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header header-line">
          <h4>Text Area</h4>
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="col-md-12">
              <!-- Start -->
              <div class="form-group">
                <label>Textarea</label>
                <div class="row">
                  <div class="col-md-6">
                    <textarea class="form-control" rows="3" name="" id=""></textarea>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Textarea with editor</label>
                <div class="row">
                  <div class="col-md-12">
                    <textarea class="form-control" rows="3" name="" id="editor"></textarea> 
                  </div>
                </div>
              </div>
              <!-- End -->
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header header-line">
          <h4>Dropdown</h4>
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="col-md-12">
              <!-- Start -->
              <div class="form-group">
                <label>Dropdown</label>
                <div class="row">
                  <div class="col-md-6">
                    <select class="form-control" name="" id="">
                      <option>--- Pilih ---</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Dropdown with search</label>
                <div class="row">
                  <div class="col-md-6">
                    <select class="form-control" name="" id="" data-search="true">
                      <option>--- Pilih ---</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- End -->
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header header-line">
          <h4>Upload </h4>
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="col-md-12">
              <!-- Start -->
              <div class="form-group">
                <label>Upload File</label>
                <div class="row">
                  <div class="col-md-6">
                    <input type="file" name="" id="">
                  </div>
                </div>
              </div>
              <!-- End -->
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header header-line">
          <h4>Checkbox </h4>
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="col-md-12">
              <!-- Start -->
              <div class="form-group">
                <label>Checkbox list</label>
                <div class="row">
                  <div class="col-md-6">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="" name="" id=""> 
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="" name="" id="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="" name="" id="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Checkbox inline</label>
                <div class="row">
                  <div class="col-md-12">
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox1" value="option1" name="" id=""> Lorem ipsum dolor sit amet
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox2" value="option2" name="" id=""> Lorem ipsum dolor sit amet
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" id="inlineCheckbox3" value="option3" name="" id=""> Lorem ipsum dolor sit amet
                    </label>
                  </div>
                </div>
              </div>
              <!-- End -->
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header header-line">
          <h4>Radiobutton </h4>
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="col-md-12">
              <!-- Start -->
              <div class="form-group">
                <label>Radio button list</label>
                <div class="row">
                  <div class="col-md-6">
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Radio button inline</label>
                <div class="row">
                  <div class="col-md-12">
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Lorem ipsum dolor sit amet
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Lorem ipsum dolor sit amet
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Lorem ipsum dolor sit amet
                    </label>
                  </div>
                </div>
              </div>
              <!-- End -->
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2016 </span>
        <span></span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
<script type="text/javascript">
  $(document).ready(function() {
      CKEDITOR.replace( 'editor' );
  } );
</script>